@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

header{
  width: 100%;
  height: 100vh;
  background-color: #CAF1D3;
}

.teksten{
  padding-left: 10%;
  padding-top: 35vh;
}

.teksten h2{
  margin-top: 5%;
}

/* -------teksten------- */

h1{
  position: absolute;
  font-family: roboto;
  font-size: 100px;
  padding-left: 9%;
}

h2{
  position: relative;
  font-family: roboto;
  font-size: 100px;
  padding-left: 10%;
}

h3{
  font-family: roboto;
  font-size: 70px;
  position: absolute;
  margin-left: 37%;
  margin-top: 10vh;
}

article{
  font-size: 25px;
  font-family: Roboto;
  margin-top: 30vh;
  width: 75%;
  height: 80vh;
}

.opdrachten{
  padding-top:30vh ;
  padding-left:22.5% ;
}

.infotekst{
  padding-left: 33%;
  line-height: 40px;
}

h3{
  font-family: roboto;
  font-size: 70px;
  position: absolute;
  margin-left: 37%;
  margin-top: 15vh;
}



/*------- navbar ---------*/

.logo{
  background-color: red;
}
.contactlink{
  padding-left: 30px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #EEEE;
  position: fixed;
  width: 100%;
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 28px 28px;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
}

li a:hover {
  background-color: #CAF1D3;
  transition: 0.3s;
}
<<<<<<< HEAD



=======
>>>>>>> 3749b46c94dd02e4e588a7452e1e24665954f36b

.oosterparkmap{
  margin-top: 32vh;
  margin-left: 10%;

}

.titellocatie{
  padding-top: 15vh;
  padding-left: 37%;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 3749b46c94dd02e4e588a7452e1e24665954f36b
=======
>>>>>>> e0e90664e09302d5d06880d31400b09ebedde5bf
.home{
  background-color: #eeeeee;
}
footer{
  background-color: #d6d6d6;
  height: 25vh;
  font-size: 19px;
  font-family: roboto;
  margin-top: 70vh;

}
<<<<<<< HEAD
=======

>>>>>>> 3749b46c94dd02e4e588a7452e1e24665954f36b
.logovlak{
  width: 6%;
  padding-top: 6%;
  background-color: red;
  margin-top: 65vh;
  margin-left: 10vh;
  position: absolute;
  margin-top: -25vh;
<<<<<<< HEAD
  margin-left:
=======
>>>>>>> 3749b46c94dd02e4e588a7452e1e24665954f36b
}
